# OS
Thumbs.db
.DS_Store

# Logs
logs/*
!logs/README.md
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
coverage/

# Docker
**/.docker

# WSL / virtualization
*.vhdx

# IDEs
.vscode/
.idea/

# Temporary
*.tmp
